# Deployer private key (without 0x prefix or with it)
DEPLOYER_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# Set to any value to enable gas reporting
# REPORT_GAS=true

# Set to "true" to fund vault during deployment
# FUND_VAULT=true
